# Go - Ignore binaries and secrets
/ingest/main
/ingest/.env
*.exe

# Node/Next.js - Ignore dependencies and builds
/web/node_modules
/web/.next
/web/.env
/web/.env.local

# General
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


rune-engine
